{
	margin:0;
	padding:0;
}
 html, body{
	height: 100%;
 }
 .left-none{
	 width:500px;
	 height:100%;
	 position:absolute;
	 left:0;
	 top:0px;
	 background:#004b97;
 }
 .right-none{
	 width:500px;
	 height:100%;
	 position:absolute;
	 right:0;
	 top:0px;
	 background:#004b97;
 }
.container{
	 top:10;
	 margin:0 500px 0 500px;
	 height:100%;
	 background:#42c3f1;	 
}
.card{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top:0px;
  margin-bottom: 20px;
  border-radius: 50%;
  border:1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img {
  width: 100px;
  height: 100px;
  border-radius:50%
}
.content{
  text-align: center;
}

.title-name{
  font-size: 16px;
}
.title-cae{
  margin-top: 15px;
}
.zhengwen{
  margin-top: 15px;
  font-size: 14px;
}